@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Maven+Pro&family=Roboto:ital,wght@0,400;1,300&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  position: relative;
  padding-bottom: 40px;
  min-height: 100vh;
}

/* HEADER CSS */

.nav {
  background-color: #000000;
  height: 80px;
  color: white;
}

.nav__container {
  display: flex;
  height: 100%;
  padding: 0 2em 0 2em;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo img {
  height: 45px;
}

.nav__logo p {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  margin-left: 1em;
}

.nav__menu_list li {
  display: inline-block;
  margin-top: 13px;
  padding-left: 0.5em;
  font-size: 20px;
  --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.nav__menu__list__a {
  color: white;
  text-decoration: none;
}

.nav__menu__list__a::after {
  content: "";
  display: block;
  background: #8614f8;
  width: 100%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}

.nav__menu__list__a:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__label i {
  font-size: 25px;
}

.nav__label,
.nav__input {
  display: none;
}

/* FOOTER CSS */

.footer {
  background-color: #000000;
  padding-top: 5px;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding-right: 10px;
  margin: auto 0;
}

.footer__redesSociales {
  margin: auto 0;
}

.footer__redesSociales ul {
  padding-left: 10px;
}

.footer__redesSociales li {
  display: inline-block;
}

.footer__redesSociales a i {
  letter-spacing: 15px;
  font-size: 25px;
  color: white;
  font-weight: 100;
  margin-left: 5px;
}

.footer__redesSociales a i:hover {
  color: #6560eb;
  text-shadow: 0 0 1px;
  transition: 0.3s;
}

@media only screen and (max-width: 800px) {
  body {
    margin-top: 80px;
  }

  .nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
  }

  .nav__label {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: black;
    left: 0;
    width: 100%;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.5s ease-in-out;
  }

  .nav__menu_list li {
    display: flex;
    justify-content: center;
    margin-top: 4em;
  }

  .nav__input:checked+.nav__menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 450px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    height: 70px;
  }

  .footer__redesSociales ul,
  .footer__copyright {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
}