.productos__header {
    text-align: center;
    margin: 20px 0;
}

.productos__header__titulo {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Maven Pro', sans-serif;
}

.productos__header__subtitulo {
    font-style: italic;
    font-size: 22px;
    padding: 0 50px 0 50px;
    margin-bottom: 30px;
}

.productos__article {
    display: grid;
    grid-template-columns: 900px 900px;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.card__prod {
    display: flex;
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0 0 12px;
    width: 900px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.5s;
    
}

.card__prod:hover {
    transform: scale(1.05);
}

.card__prod img {
    width: 500px;
    padding: 25px;
}

.card__prod__aside {
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card__prod__aside__titulo {
    font-size: 40px;
    position: relative;
}

.card__prod__aside__desc {
    font-size: 20px;
    font-style: italic;
}

.card__prod__aside__precio {
    font-size: 35px;
    color: #6560eb;
    font-weight: bold;
}

.card__prod__aside__pedir{
    text-decoration: none;
}

.card__prod__aside__pedir i {
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
}

.card__prod__aside__pedir {
    background-color: initial;
    background-image: linear-gradient(#8614f8 0, #760be0 100%);
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    padding: 0 10px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
    transition: 0.3s;
}


@media only screen and (max-width:1900px) {
    .productos__article {
        grid-template-columns: 900px;
    }
}

@media only screen and (max-width:1000px) {

    .productos__header__subtitulo {
        font-size: 18px;
    }
    .productos__article {
        grid-template-columns: 550px;

    }

    .card__prod {
        flex-direction: column;
        width: 550px;
        padding: 10px;
    }

    .card__prod img {
        padding: 15px 0 2px 0;
    }

    .card__prod__aside,
    .card__prod__aside__titulo,
    .card__prod__aside__desc,
    .card__prod__aside__precio {
        padding: 0 0 10px 0;
    }

    .card__prod__aside__pedir {
        width: 320px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:600px) {

    .productos__header__titulo,
    .productos__header__subtitulo {
        padding: 0 30px 0 30px;
    }

    .productos__article {
        grid-template-columns: 300px;
        margin-bottom: 80px;
    }

    .card__prod {
        width: 300px;
        padding: 0;
    }

    .card__prod img {
        width: 250px;
    }

    .card__prod__aside {
        padding: 10px;
    }

    .card__prod__aside__titulo {
        font-size: 30px;
    }

    .card__prod__aside__pedir {
        font-size: small;
        width: 256px;
    }
}